
<!-- Header -->

<!--   <div class="row">
      <ul class="link-list left">
        <li><a href="#">Section 1</a></li>
        <li><a href="#">Section 2</a></li>
        <li><a href="#">Section 3</a></li>
        <li><a href="#">Section 4</a></li>
      </ul>
  </div> -->

  <!-- End Header -->

  <div class="row">

    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="nine columns push-three" id="page_details_show_disabled">

    	<%= render :partial => 'page_details' %>

    </div>

<!--     <div class="nine columns push-three" id="press_articles_show" style="display: none">
 -->
    	<% render :partial => 'press_articles' %>

<!--     </div>
 -->
<!--     <div class="nine columns push-three" id="social_accounts_show" style="display: none">
 -->
    	<% render :partial => 'social_accounts' %>

<!--     </div>
 -->
    <!-- <div class="nine columns push-three" id="page_settings_show" style="display: none"> -->

    	<% render :partial => 'page_settings' %>

<!--     </div>
 -->
    <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="three columns pull-nine" id="nav">

      <ul class="side-nav">
        <li><a href="#" id="page_details_nav">Page Details</a></li>
        <form id="page_details_form">
		  <label>Title</label>
		  <input id="page_details_title" type="text" placeholder="Example Title" />
		  <label>Subtitle</label>
		  <input id="page_details_subtitle" type="text" class="twelve" placeholder="Example Subtitle" />
		  <label>Logo URL</label>
		  <input id="page_details_logo" type="text" class="twelve" placeholder="http://www.logo.com/image.jpg" />

		  <label>Background URL</label>
		  <input id="page_details_bg" type="text" class="twelve" placeholder="http://www.background.com/image.jpg" />

        
		</form>

        <li><a href="#" id="press_articles_nav">Press Articles</a></li>
        		    <span id="articles_form_1"><%= render 'articles/form' %></span>
        		    <span id="articles_form_2"><%= render 'articles/form_a', :locals => {@article_a => @article}%></span>
        		    <span id="articles_form_3"><%= render 'articles/form_b' %></span>



        <form id="press_articles_form" style="display:none">

		  <label>Title</label>
		  <input id="press_articles_title" type="text" class="twelve" placeholder="Article Subject" />
		  <label>Short Description</label>
		  <input id="press_articles_description" type="text" class="twelve" placeholder="Article Description" />
		  <label>Upload Image</label>
		  <input id="press_articles_image" type="text" class="twelve" placeholder="Upload Image" />

		  <button id="new_article_b" class="button">New Article</button>
		  <button id="new_article_c" class="button" style="display: none">New Article</button>
		  <button id="new_article_d" class="button" style="display: none">New Article</button>
		</form>

        <li><a href="#" id="social_accounts_nav">Social Accounts</a></li>
        <form id="social_accounts_form" style="display:none">
		  <label>Twitter</label>
		  <input id="twitter_form" type="text" placeholder="thereal_spotlight" />
		  <label>Facebook Page</label>
		  <input id="facebook_form" type="text" class="twelve" placeholder="fbspotlightpr" />
		  <label>Pinterest</label>
		  <input id="pinterest_form" type="text" class="twelve" placeholder="spotlightpins" />
		  <label>Instagram</label>
		  <input id="instagram_form" type="text" class="twelve" placeholder="instaspotlight" />
		  <label>Foursquare</label>
		  <input id="foursquare_form" type="text" class="twelve" placeholder="spotlightsquare" />
		  <label>Swaag</label>
		  <input id="swaag_form" type="text" class="twelve" placeholder="swaagspot" />
		  
		</form>
        <li><a href="#" id="page_settings_nav">Account Settings</a></li>
        <form id="page_settings_form" style="display:none">
		  <label>Email Address</label>
		  <input id="email_address" type="text" placeholder="example@example.com" />
		  <label>Save Id</label>
		  <input id="save_id" type="text" class="twelve" placeholder="1234" />

		</form>

      </ul>
      <input id="page_settings_save" type="submit" class="button" value="Save" />
      <input id="page_settings_load" type="submit" class="button" value="Load" />
    </div>

  </div>



<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '270058479685802', // App ID
      channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

FB.Event.subscribe('edge.create',
    function(response) {
        // alert('You liked the URL: ' + response);
    });
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>



<script>

<%= render 'nav_toggling' %>

//var nav variables for json data



//ajax calls

$('#page_settings_save').click(function() {
var page_details_title = document.getElementById('page_details_title').value,
	page_details_subtitle = document.getElementById("page_details_subtitle").value,
	page_details_logo = document.getElementById('page_details_logo').value,
	page_details_bg = document.getElementById('page_details_bg').value;

var twitter_form = document.getElementById('twitter_form').value,
	facebook_form = document.getElementById('facebook_form').value,
	pinterest_form = document.getElementById('pinterest_form').value,
	instagram_form = document.getElementById('instagram_form').value,
	foursquare_form = document.getElementById('foursquare_form').value,
	swaag_form = document.getElementById('swaag_form').value;

var	demo_articles_title = document.getElementById('demo_articles_title').innerHTML,
	demo_articles_description = document.getElementById('demo_articles_description').innerHTML,
	press_articles_image = document.getElementById('press_articles_image').getAttribute('src'),
	demo_articles_title_a = document.getElementById('demo_articles_title_a').innerHTML,
	demo_articles_description_a = document.getElementById('demo_articles_description_a').innerHTML,
	press_articles_image_a = document.getElementById('press_articles_image_a').getAttribute('src'),
	demo_articles_title_b = document.getElementById('demo_articles_title_b').innerHTML,
	demo_articles_description_b = document.getElementById('demo_articles_description_b').innerHTML,
	press_articles_image_b = document.getElementById('press_articles_image_b').getAttribute('src');

var email_address = document.getElementById('email_address').value,
	save_id = document.getElementById('save_id').value;

	$.ajax({
		type: "POST",
		url: "https://fashionlaunch2013.appspot.com/user/"+save_id+"/",
		data: { page_details_title: page_details_title, page_details_subtitle: page_details_subtitle, page_details_logo: page_details_logo, page_details_bg: page_details_bg, twitter_form: twitter_form, facebook_form: facebook_form, pinterest_form: pinterest_form, instagram_form: instagram_form, foursquare_form: foursquare_form, swaag_form: swaag_form, email_address:email_address, save_id:save_id, demo_articles_title:demo_articles_title, demo_articles_description:demo_articles_description, press_articles_image:press_articles_image, demo_articles_title_a:demo_articles_title_a, demo_articles_description_a:demo_articles_description_a, press_articles_image_a:press_articles_image_a, demo_articles_title_b:demo_articles_title_b, demo_articles_description_b:demo_articles_description_b, press_articles_image_b:press_articles_image_b }
	}).done(function( data ) {
	  console.log( "Data Saved: " + data );
	});
});



$('#page_settings_load').click(function(data) {
	var save_id = document.getElementById('save_id').value;
	$.ajax({
		type: "GET",
		url: "https://fashionlaunch2013.appspot.com/user/"+save_id+"/"
	}).done(function( data ) {
			$('span#demo_page_title').text(data['page_details_title']);
			$('span#demo_page_subtitle').text(data['page_details_subtitle']);
			$('img#demo_page_logo').attr("src",data['page_details_logo']);
			$('img#demo_page_logo').show().fadeIn(500);
			$('body').css('background-image', 'url("'+data['page_details_bg']+'")');
			$('input#page_details_title').val(data['page_details_title']);
			$('input#page_details_subtitle').val(data['page_details_subtitle']);
			$('input#page_details_logo').val(data['page_details_logo']);
			$('input#page_details_bg').val(data['page_details_bg']);

			$('a#twitter_form_icon').attr("href", data['twitter_form']);
			$('a#twitter_form_icon').show().fadeIn(500);
			$('a#facebook_form_icon').attr("href", data['facebook_form']);
			$('a#facebook_form_icon').show().fadeIn(500);
			$('a#pinterest_form_icon').attr("href", data['pinterest_form']);
			$('a#pinterest_form_icon').show().fadeIn(500);
			$('a#instagram_form_icon').attr("href", data['instagram_form']);
			$('a#instagram_form_icon').show().fadeIn(500);
			$('a#foursquare_form_icon').attr("href", data['foursquare_form']);
			$('a#foursquare_form_icon').show().fadeIn(500);
			$('a#swaag_form_icon').attr("href", data['swaag_form']);
			$('a#swaag_form_icon').show().fadeIn(500);

			$('a#email_address_icon').attr("href", data['email_address']);
			$('a#email_address_icon').show().fadeIn(500);
			$('a#save_id_icon').attr("href", data['save_id']);
			$('a#save_id_icon').show().fadeIn(500);

			$('p#demo_articles_title').text(data['demo_articles_title']);
			$('p#demo_articles_description').text(data['demo_articles_description']);
			$('img#press_articles_image').attr("src", data['press_articles_image']);
			$('p#demo_articles_title_a').text(data['demo_articles_title_a']);
			$('p#demo_articles_description_a').text(data['demo_articles_description_a']);
			$('img#press_articles_image_a').attr("src", data['press_articles_image_a']);
			$('p#demo_articles_title_b').text(data['demo_articles_title_b']);
			$('p#demo_articles_description_b').text(data['demo_articles_description_b']);
			$('img#press_articles_image_b').attr("src", data['press_articles_image_b']);

			$('#article1').show();
			$('#article2').show();
			$('#article3').show();
			$('#nav').removeClass("three columns pull-nine");
			$('#nav').hide();
			$('#page_details_show_disabled').removeClass("nine columns push-three");
			$('#page_details_show_disabled').addClass("twelve columns");


	  console.log(data['demo_articles_title']);
	});
});

// end ajax calls

<%= render 'nav_page_details' %>

<%= render 'nav_social_accounts' %>

</script>

</body></html>